github/src/main/mule/github.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="786cbb7f-4efa-417c-99e2-273d42bbaa3d" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="githubFlow" doc:id="eab588d5-c031-4896-8400-23116d41ab43" >
		<http:listener doc:name="Listener" doc:id="5ae8ac4e-33d7-438b-bea8-5cd593711f46" config-ref="HTTP_Listener_config" path="/desta"/>
		<set-payload value="#['desta love move']" doc:name="Set Payload" doc:id="ec733601-07cf-418b-9416-b960c7e54ac9" />
	</flow>
</mule>
